body{
    font-family: 'Darker Grotesque', sans-serif;
}
#toronto{
    height: 75%;
    width:100%;
    filter: blur(2px);
    -webkit-filter: blue(2px);
    opacity: 0.9;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.wijelaw{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    line-height: 30px;
}

h1{
    font-weight: normal;
    font-size: 40px;
}

h2{
    font-weight: normal;
    font-size: 20px;
}

#firm{
    text-align: center;
}

.about{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}

.lawyers{
    text-align: center;
}

.practiceareas{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}

.contact{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}