body{
    font-family: 'Darker Grotesque', sans-serif;
}
#toronto{
    height: 75%;
    width:100%;
    filter: blur(2px);
    -webkit-filter: blue(2px);
    opacity: 0.9;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.wijelaw{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    line-height: 30px;
}

h1{
    font-weight: normal;
    font-size: 40px;
}

h3{
    font-weight: normal;
    font-size: 20px;
}

#firm{
    text-align: center;
}

.about{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}

.lawyers{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    grid-row-gap: 5%;

}

#neildiv, #janakidiv{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    justify-items: center;
    justify-content: center;
    
}

#neiltext, #janakitext{
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 4;
}

#neilpic, #janakipic{
    grid-column-start: 2;
    grid-column-end: 3;
}
.practiceareas{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}

.areasdiv{
    display:grid;
    grid-template-columns: 13% 37% 37% 13%;
    justify-content: center;
}
.areas{
    
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 1.5rem;
   
}

#realestate, #familylaw,#corporatecommercial, #immigration,#wills,#civil,#criminal,#personal{
    line-height: 1;
    text-align: justify;
    text-justify: auto;
}

.areas h2{
    font-weight: normal;
    font-size: 25px;
}

.contact{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}

